/*菜单栏*/

.menu-bar-div {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #5599FF;
	font-size: 15px;
	color: #FFFFFF;
	position: relative;
}

.element-div {}

.element-no-menu-div-hover:hover {
	background-color: #1E90FF;
	cursor: pointer;
}

/* 容器 <div> - 需要定位下拉内容 */

.dropdown {}

/* 下拉内容 (默认隐藏) */

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #1E90FF;
	width: 120px;
	top: 40px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */

.dropdown-content a:hover {
	background-color: #5599FF;
    cursor: pointer;
}


/* 在鼠标移上去后显示下拉菜单 */

.dropdown:hover .dropdown-content {
	display: block;
	/*使菜单不被图片遮住*/
	z-index: 1;
}


/*当下拉内容显示后修改下拉按钮的背景颜色*/

.dropdown:hover .element-div {
	background-color: #1E90FF;
}

.title-tab-div {
	height: 60px;
	line-height: 60px;
	border-bottom: solid 3px #5599FF;
	font-size: 17px;
	font-weight: bold;
	margin-top: 10px;
}

.select-tab-hover:hover {
	/*加!important目的是避免JQuery设置CSS后使该hover失效*/
	background-color: #A9A9A9 !important;
	color: #FFFFFF !important;
}

.content-right-upper-element-div-for-avatar-label-hover:hover {
	color: #5599FF;
}