<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>活动信息</title>

        <link rel="icon" href="../../img/userapp/icon/system/icon_16_blue.png">
        <link rel="stylesheet" type="text/css" href="../../css/userapp/common/all.css">
        <link rel="stylesheet" type="text/css" href="../../css/userapp/common/body.css">
        <link rel="stylesheet" type="text/css" href="../../css/userapp/common/menu_bar.css">
        <link rel="stylesheet" type="text/css" href="../../css/userapp/common/item.css">
        <link rel="stylesheet" type="text/css" href="../../css/userapp/common/input.css">
        <link rel="stylesheet" type="text/css" href="../../css/userapp/common/menu_bar.css">

        <script type="text/javascript" src="../../js/userapp/common/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../../js/userapp/user/personal_center/activity_info.js"></script>
        <script type="text/javascript" src="../../js/userapp/common/info.js"></script>
        <script type="text/javascript" src="../../js/userapp/common/get_head_and_user_name.js"></script>

		<script type="text/javascript">

            $(function(){
                var jsonData = {"activityId":"123"};
                var jsonString = JSON.stringify(jsonData);
                $.ajax({
                    url:"/alllink/activity/getActivityInfo",
                    contentType: "application/json;charset=utf-8",
                    type:"post",
                    data:jsonString,
                    async: false,
                    success:function (json) {
                        var data = json.data;
                        var $imgDiv = $("#imgDiv");
                        var imgList= data.imageUrl.split(",");
                        var imgstr = "";
                        for(var i in imgList){
                            imgstr = imgstr + '<img class="vertically-center-by-absolute left-' + (30 + i * 70) + 'px width-60px height-60px border-radius-50-percent" src="' + imgList[i] + '"/>'
                        }
                        $imgDiv.append(imgstr);
                        $("#activityId").val(data.activityId);
                        $("#sellerId").val(data.sellerId);
                        $("#activityInfo").html(data.activityInfo);
                        $("#activityName").html(data.activityName);
                        $("#activityType").text(data.activityType);
                        $("#beginTime").text(data.beginTime);
                        $("#endTime").text(data.endTime);
                        $("#cost").text(data.cost);
                        $("#number").text(data.enrollNumber+"/"+data.totalNumber);
                        $("#address").text(data.address);
                    },
                    dataType:"json"

                });
            });
		</script>
	</head>

	<body>
	<div class="menu-bar-div">
		<div class="horizontally-center-by-margin width-1100px height-100-percent">
			<div class="position-relative float-left width-80px height-100-percent">
                <img class="vertically-center-by-absolute left-0 right-0"
                     src="../../img/userapp/icon/system/icon_32_pink.png">
			</div>

			<!--<div class="element-no-menu-div-hover  float-left width-120px">首页</div>-->
            <div class="element-no-menu-div-hover  float-left width-120px"
                 onclick="redirectPage('../../userapp/personal_center/nearby')">附近
            </div>

			<div class="dropdown position-relative display-inline-block float-left">
				<div class="element-div float-left width-120px">我的订单</div>

				<div class="dropdown-content">
                    <a class="display-block color-FFFFFF text-decoration-none"
                       href="../../userapp/personal_center/order/unpaid_order">待付款订单</a>
                    <a class="display-block color-FFFFFF text-decoration-none"
                       href="../../userapp/personal_center/order/paid_order">已付款订单</a>
                    <a class="display-block color-FFFFFF text-decoration-none"
                       href="../../userapp/personal_center/order/cancel_order">已取消订单</a>
				</div>
			</div>

			<div class="dropdown position-relative display-inline-block float-left">
				<div class="element-div float-left width-120px">我的资料</div>

				<div class="dropdown-content">
                    <a class="display-block color-FFFFFF text-decoration-none"
                       href="../../userapp/personal_center/personal_data">个人资料</a>
                    <a class="display-block color-FFFFFF text-decoration-none"
                       href="../../userapp/reset_password">修改密码</a>
				</div>
			</div>

			<div class="dropdown position-relative display-inline-block float-right">
				<div id="header-user-name" class="element-div float-right width-120px">用户名哈</div>

				<div class="dropdown-content">
                    <a class="display-block color-FFFFFF text-decoration-none"
                       href="../../userapp/personal_center/personal_center">个人中心</a>
                    <a class="display-block color-FFFFFF text-decoration-none" onclick="loginout(0);">退出</a>
				</div>
			</div>

			<div class="position-relative float-right width-60px height-100-percent">
                <img id="header-avatar"
                     class="vertically-center-by-absolute left-0 right-0 width-32px height-32px border-radius-50-percent"
                     src="../../../img/userapp/avatar/0.png">
			</div>
		</div>
	</div>

		<div class="width-630px height-500px margin-top-20px padding-top-20px horizontally-center-by-margin color-444444">
			<label id="activityId" class="display-none"></label>
			
			<div class="float-left width-140px height-220px">
				<div class="title-tab-div">
					<div class="position-relative float-left width-60px height-100-percent">
                        <img class="vertically-center-by-absolute left-0 right-0"
                             src="../../img/userapp/icon/page/enroll.png"/>
					</div>

					<div class="float-left width-80px text-align-left">活动信息</div>
				</div>
			</div>

			<div class="float-left width-490px height-100-percent padding-top-20px color-444444">
				<div class="height-20px margin-top-25px">
					<div class="float-left width-140px  text-align-right">活动名称</div>
					<div id="activityName" class="float-left width-350px  padding-left-30px text-align-left">这是活动名称</div>
				</div>

				<div class="height-70px line-height-70px margin-top-15px">
					<div class="float-left width-140px  text-align-right">活动图片</div>
					<div id="imgDiv" class="position-relative float-left width-350px  height-100-percent">
                        <!--<img class="vertically-center-by-absolute left-30px width-60px height-60px border-radius-50-percent" src="../../img/avatar/0.png">
                        <img class="vertically-center-by-absolute left-100px width-60px height-60px border-radius-50-percent" src="../../../img/avatar/0.png">
                        <img class="vertically-center-by-absolute left-170px width-60px height-60px border-radius-50-percent" src="../../../img/avatar/0.png">
                        <img class="vertically-center-by-absolute left-240px width-60px height-60px border-radius-50-percent" src="../../../img/avatar/0.png">
                        <img class="vertically-center-by-absolute left-310px width-60px height-60px border-radius-50-percent" src="../../../img/avatar/0.png">-->
					</div>
				</div>

				<div class="height-70px line-height-70px margin-top-15px">
					<div class="float-left width-140px  text-align-right">活动详情</div>
					<div id="activityInfo" class="float-left width-350px  padding-left-30px text-align-left">这是活动详情</div>
				</div>

				<div class="height-20px margin-top-15px">
					<div class="float-left width-140px  text-align-right">类型</div>
					<div id="activityType" class="float-left width-350px  padding-left-30px text-align-left">外语类</div>
				</div>

				<div class="height-20px margin-top-15px">
					<div class="float-left width-140px  text-align-right">开始时间</div>
					<div id="beginTime" class="float-left width-350px  padding-left-30px text-align-left">2017-12-30</div>
				</div>

				<div class="height-20px margin-top-15px">
					<div class="float-left width-140px  text-align-right">结束时间</div>
					<div id="endTime" class="float-left width-350px  padding-left-30px text-align-left">2017-12-31</div>
				</div>

				<div class="height-20px margin-top-15px">
					<div class="float-left width-140px  text-align-right">费用（元）</div>
					<div id="cost" class="float-left width-350px  padding-left-30px text-align-left">1000</div>
				</div>

				<div class="height-20px margin-top-15px">
					<div class="float-left width-140px  text-align-right">已报名人数/总人数</div>
					<div id="number" class="float-left width-350px  padding-left-30px text-align-left">17/20</div>
				</div>
				
				<div class="height-20px margin-top-15px">
					<div class="float-left width-140px  text-align-right">地址</div>
					<div id="address" class="float-left width-350px  padding-left-30px text-align-left">北京</div>
				</div>
				
				<div class="padding-left-100px margin-top-25px">
					<input type="button" class="width-145px height-35px font-size-17px blue-button" value="报名活动" onclick="apply();" />
				</div>
			</div>
		</div>
	</body>

</html>