<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		
		<link rel="icon" href="../../../img/icon/system/icon_16_blue.png">
		<link rel="stylesheet" type="text/css" href="../../../css/common/all.css">
		<link rel="stylesheet" type="text/css" href="../../../css/common/body.css">
		<link rel="stylesheet" type="text/css" href="../../../css/common/menu_bar.css">
	</head>

	<body>
		<div class="menu-bar-div">
			<div class="horizontally-center-by-margin width-1100px height-100-percent">
				<div class="position-relative float-left width-80px height-100-percent">
					<img class="vertically-center-by-absolute left-0 right-0" src="../../../img/icon/system/icon_32_pink.png">
				</div>

				<div class="element-no-menu-div-hover  float-left width-120px">首页</div>

				<div class="dropdown position-relative display-inline-block float-left">
					<div class="element-div float-left width-120px">我的订单</div>

					<div class="dropdown-content">
						<a class="display-block color-FFFFFF text-decoration-none" href="#">近三个月订单</a>
						<a class="display-block color-FFFFFF text-decoration-none" href="#">待评价订单</a>
						<a class="display-block color-FFFFFF text-decoration-none" href="#">退单记录</a>
					</div>
				</div>

				<div class="dropdown position-relative display-inline-block float-left">
					<div class="element-div float-left width-120px">我的资产</div>

					<div class="dropdown-content">
						<a class="display-block color-FFFFFF text-decoration-none" href="#">我的优惠券</a>
						<a class="display-block color-FFFFFF text-decoration-none" href="#">账户余额</a>
						<a class="display-block color-FFFFFF text-decoration-none" href="#">我的积分</a>
					</div>
				</div>

				<div class="dropdown position-relative display-inline-block float-left">
					<div class="element-div float-left width-120px">我的资料</div>

					<div class="dropdown-content">
						<a class="display-block color-FFFFFF text-decoration-none" href="#">个人资料</a>
						<a class="display-block color-FFFFFF text-decoration-none" href="#">安全中心</a>
						<a class="display-block color-FFFFFF text-decoration-none" href="#">修改密码</a>
					</div>
				</div>

				<div class="element-no-menu-div-hover  float-left width-120px">我的收藏</div>

				<div class="dropdown position-relative display-inline-block float-right">
					<div class="element-div float-right width-120px">用户名哈</div>

					<div class="dropdown-content">
						<a class="display-block color-FFFFFF text-decoration-none" href="#">个人中心</a>
						<a class="display-block color-FFFFFF text-decoration-none" href="#">退出</a>
					</div>
				</div>

				<div class="position-relative float-right width-60px height-100-percent">
					<img id="header-avatar"
						class="vertically-center-by-absolute left-0 right-0 width-32px height-32px border-radius-50-percent"
						src="../../../img/avatar/0.png">
				</div>
			</div>
		</div>
	</body>

</html>