<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <title>用户个人资料</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.1.1/css/jquery-weui.min.css">
    <style>
        .weui-cells {
            margin-top: 0;
        }

        .weui-cell__ft > img {
            width: 50px;
            height: 50px;
        }

        button.weui-btn_plain-default {
            margin-top: 10px;
            width: 90%;
            border-width: 0;
            background-color: #dddddd;
        }
    </style>
</head>
<body>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>头像</p>
        </div>
        <div class="weui-cell__ft"><img src="${Session.seller.photo}" id="photo"/></div>
    </div>
</div>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:">
        <div class="weui-cell__bd">
            <p>用户名</p>
            <span id="sellerId-none" style="display: none">${Session.seller.sellerId}</span>
        </div>
        <div class="weui-cell__ft" id="sellerName">
            ${Session.seller.sellerName}
        </div>
    </a>
</div>

<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:">
        <div class="weui-cell__bd">
            <p>手机号</p>
        </div>
        <div class="weui-cell__ft" id="alipayNumber">
            ${Session.seller.alipayNumber}
        </div>
    </a>
</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:">
        <div class="weui-cell__bd">
            <p>性别</p>
        </div>
        <div class="weui-cell__ft" id="email">
            ${Session.seller.email}
        </div>
    </a>
</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="javascript:">
        <div class="weui-cell__bd">
            <p>生日</p>
        </div>
        <div class="weui-cell__ft" id="email">
            ${Session.seller.email}
        </div>
    </a>
</div>

<button class="weui-btn weui-btn_plain-default"
        onclick="window.location.href='/alllink/views/wechatUser/w-AddPersonalData.html'">修改
</button>

<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.1.1/js/jquery-weui.min.js"></script>

</body>
</html>
