<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>个人资料</title>

		<link rel="icon" href="../img/userapp/icon/system/icon_16_blue.png">
		<link rel="stylesheet" type="text/css" href="../css/userapp/common.css">
		<link rel="stylesheet" type="text/css" href="../css/userapp/user/personal_center/personal_data.css">

		<script type="text/javascript" src="../plugin/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="../js/userapp/ajaxfileupload.js"></script>
		<script type="text/javascript" src="../js/userapp/common.js"></script>
		<script type="text/javascript" src="../js/userapp/user/personal_center/personal_data.js"></script>
	</head>

	<body>
		<!--阴影-->
		<div id="maskLayer" class="maskLayer">
			<!-- 提示框 -->
			<div class="tip-div">
				<div class="upper-div">提示</div>
				<div id="tipContent" class="middle-div"></div>
				
				<div class="underneath-div">
					<input type="button" class="short-blue-button" value="确定" onclick="hideMaskLayer();"/>
				</div>
			</div>
		</div>

		<div class="header">
			<div class="icon-div">
				<img class="vertically-and-horizontally-center-img" src="../img/userapp/icon/system/icon_32_pink.png">
			</div>

			<div class="left-element-no-menu-div">
				首页
			</div>

			<div class="left-dropdown">
				<div class="left-element-div">
					我的订单
				</div>

				<div class="dropdown-content">
					<a href="#">近三个月订单</a>
					<a href="#">待评价订单</a>
					<a href="#">退单记录</a>
				</div>
			</div>

			<div class="left-dropdown">
				<div class="left-element-div">
					我的资产
				</div>

				<div class="dropdown-content">
					<a href="#">我的优惠券</a>
					<a href="#">账户余额</a>
					<a href="#">我的积分</a>
				</div>
			</div>

			<div class="left-dropdown">
				<div class="left-element-div">
					我的资料
				</div>

				<div class="dropdown-content">
					<a href="#">个人资料</a>
					<a href="#">安全中心</a>
					<a href="#">修改密码</a>
				</div>
			</div>

			<div class="left-element-no-menu-div">
				我的收藏
			</div>

			<div class="right-dropdown">
				<div class="right-element-div">
					用户名哈
				</div>

				<div class="dropdown-content">
					<a href="#">个人中心</a>
					<a href="#">退出</a>
				</div>
			</div>

			<div class="avatar-div">
				<img id="header-avatar" class="vertically-and-horizontally-center-img" src="../img/userapp/avatar/0.png">
			</div>
		</div>

		<div class="info-div">
			<div class="tabs-div">
				<div class="title-tab-div">
					<div class="title-left-tab-div">
						<img class="vertically-and-horizontally-center-img" src="../img/userapp/icon/page/info.png" />
					</div>

					<div class="title-right-tab-div">个人资料</div>
				</div>

				<div class="white-space-div"></div>

				<div class="select-tab-div" id="tab0" onclick="selectTab('#tab0', 0);">基本信息</div>
				<div class="select-tab-div" id="tab1" onclick="selectTab('#tab1', 1);">第三方账号</div>
				<div class="select-tab-div" id="tab2" onclick="selectTab('#tab2', 2);">实名信息</div>
			</div>

			<div class="selected-tab-content-div">
				<div class="tab-display" id="tab0Info">
					<div class="content-element-div-for-avatar">
						<div class="content-left-element-div-for-avatar">头像</div>

						<div class="content-middle-element-div-for-avatar">
							<img id="tab-content-avatar" class="vertically-and-horizontally-center-img" src="../img/userapp/avatar/0.png">
						</div>

						<div class="content-right-element-div-for-avatar">
							<div class="content-right-upper-element-div-for-avatar">
								<input id="avatarFile" name="avatarFile" type="file" onchange="uploadFile(this);">
								<label onclick="triggerFileClickEvent(this);">[修改头像]</label>
							</div>

							<div class="content-right-underneath-element-div-for-avatar">
								支持JPG、PNG、GIF格式，小于2MB
							</div>
						</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">手机号</div>
						<div id="phoneNumber" class="content-right-element-div-for-text">13968574525</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">昵称</div>
						<div class="content-right-element-div-for-text">
							<input id="nickname" type="text" class="long-input-text" value="我的昵称" maxlength="11" onfocus="monitorContentChanges(this, 0, 0, 0, 0);" />
						</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">性别</div>
						<div class="content-right-element-div-for-text">
							<label class="radio-div">
        						<input class="radio-none" type="radio" name="sex" value="0">
        						<span class="radio-repaint"></span>男
    						</label>

							<label class="radio-div">
        						<input class="radio-none" type="radio" name="sex" value="1">
        						<span class="radio-repaint"></span>女
    						</label>

							<label class="radio-div">
        						<input class="radio-none" type="radio" name="sex" value="2" checked="true">
        						<span class="radio-repaint"></span>保密
    						</label>
						</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">年龄</div>
						<div class="content-right-element-div-for-text">
							<input id="age" type="text" class="short-input-text" value="45" maxlength="3" onfocus="monitorContentChanges(this, 0, 2, 2, 0);" />
						</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">邮箱</div>
						<div class="content-right-element-div-for-text">
							<input id="mailbox" type="text" class="long-input-text" value="111@qq.com" maxlength="30" onfocus="monitorContentChanges(this, 0, 3, 3, 0);" />
						</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">注册时间</div>
						<div id="registerTime" class="content-right-element-div-for-text">2017-07-31 17:00:00</div>
					</div>

					<div class="content-element-div-for-text">
						<input type="button" class="short-blue-button" id="modifyBasicInfoButton" value="确认修改" disabled="true" onclick="modifyPersonalData(0);"/>
					</div>
				</div>

				<div class="tab-hide" id="tab1Info">
					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">QQ号</div>
						<div class="content-right-element-div-for-text">
							<input id="QQNumber" type="text" class="long-input-text" value="1111111111" maxlength="10" onfocus="monitorContentChanges(this, 1, 0, 4, 1);" />
						</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">微信号</div>
						<div class="content-right-element-div-for-text">
							<input id="weChatNumber" type="text" class="long-input-text" value="aaaa11" maxlength="20" onfocus="monitorContentChanges(this, 1, 1, 5, 1);" />
						</div>
					</div>

					<div class="content-element-div-for-text">
						<input type="button" class="short-blue-button" id="modifyThirdPartyAccountButton" disabled="disabled" value="确认修改" onclick="modifyPersonalData(1);" />
					</div>
				</div>

				<div class="tab-hide" id="tab2Info">
					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">真实姓名</div>

						<div class="content-right-element-div-for-text">
							<input id="realName" type="text" class="long-input-text" value="我" maxlength="10" />
						</div>
					</div>

					<div class="content-element-div-for-text">
						<div class="content-left-element-div-for-text">身份证号</div>

						<div class="content-right-element-div-for-text">
							<input id="IDNumber" type="text" class="long-input-text" value="1111111111" maxlength="19" />
						</div>
					</div>

					<!--<div class="content-element-div-for-text">
						<input type="button" class="short-blue-button" disabled="disabled" value="确认修改" 
							onclick="confirmModification();" />
					</div>-->
				</div>
			</div>
		</div>
	</body>

</html>