* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Microsoft YaHei;
    outline: none;
}

body {
    min-width: 1300px;
    min-height: 620px;
}

.skip:hover {
    text-decoration: underline;
    color: #5599FF;
}
