<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<title>重置密码</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.1.1/css/jquery-weui.min.css">
	<style>
		body{
			font-family: "微软雅黑";
		}
		.head{
			height: 200px;
			line-height: 200px;
			text-align: center;
			font-size: 32px;
			color: #666666;
		}
		.content{
			margin-left: 35px;
			margin-right: 45px;
		}
		.weui-btn_default{
			margin:0px 55px 20px 45px;
		}
		.weui-label{
			width:45px;
		}
		button.weui-btn{
			width:75%;
		}
		#btn{
			border:0;
			background-color:#e6e6e6;
		}

	</style>
</head>
<body>
<div class="head">
	欢迎来到万众艺兴
</div>

<div class="content">

	<div class="weui-cell weui-cell_vcode">
		<div class="weui-cell__hd">
			<label class="weui-label"><img src="../../img/sellerapp/user.png"/></label>
		</div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="text" placeholder="请输入手机号" id="phone" name="phone" onblur="vailPhone()">
		</div>
		<div class="weui-cell__ft">
			<input type="button" class="weui-vcode-btn" onclick="vailPhone()" id="btn" value="获取验证码">
		</div>
	</div>

	<div class="weui-cell">
		<div class="weui-cell__hd"><label class="weui-label"><img src="../../img/sellerapp/VerificationCode.png"/></label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="text" placeholder="请输入验证码" name="verifycode" id="verificatonCode">
		</div>
	</div>

	<div class="weui-cell">
		<div class="weui-cell__hd"><label class="weui-label"><img src="../../img/sellerapp/password.png"/></label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="password" placeholder="请输入密码" name="pwd1" id="pwd1">
		</div>
	</div>
	<div class="weui-cell">
		<div class="weui-cell__hd"><label class="weui-label"><img src="../../img/sellerapp/password.png"/></label></div>
		<div class="weui-cell__bd">
			<input class="weui-input" type="password" placeholder="请确认密码" name="pwd2" id="pwd2" onblur="check()">
		</div>
	</div>
	<div class="weui-cell"></div>

</div>

<button type="button" class="weui-btn weui-btn_default" id="rbtn" onclick="RegistrationValidate()">重置密码</button>

<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.1.1/js/jquery-weui.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.1.1/js/swiper.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.1.1/js/city-picker.min.js"></script>
<script>
    //验证手机号
    function vailPhone() {
        var phone = jQuery("#phone").val();
        var flag = false;
        var message = "";
        // var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0]{1})|(15[0-3]{1})|(15[5-9]{1})|(18[0-9]{1}))+\d{8})$/;
        if (phone == '') {
            message = "手机号码不能为空！";
        } else if (!(/^1[34578]\d{9}$/.test(phone))) {
            message = "手机号码有误！";
        }
        else if (!checkPhoneIsExist()) {
            message = "该手机号码还未注册！";
        } else {
            message = "该手机号码可以修改密码";
            flag = true;
        }
        if (!flag) {
            //提示错误效果
            $.alert(message);
        } else {
            //提示正确效果
            return true;
        }
        return flag;
    }

    //验证手机号是否存在
    function checkPhoneIsExist() {
        var phone = jQuery("#phone").val();
        var flag = false;
        var status = 1;
        jQuery.ajax({
            url: "/alllink/seller/checkPhone?t=" + (new Date()).getTime(),
            data: {phoneNumber: phone},
            dataType: "json",
            type: "POST",
            async: false,
            success: function (data) {
                status = data.code;
                if (status == "0") {//手机号重复
                    flag = true;
                }
            }
        });
        return flag;
    }

    //验证密码强度
    $(function () {
        $('#pwd1').blur(function (e) {

            //强度为弱
            var enoughRegex = new RegExp("(?=.{6,}).*", "g");
            if ($(this).val() == "") {
                $.alert("密码不能为空！");
            }
            else if (false == enoughRegex.test($(this).val())) {
                $.alert("密码过短！至少6个字符");
            }
            return true;
        });
    });

    //校验密码一致性
    function check() {
        var pwd1 = $("#pwd1").val();
        var pwd2 = $("#pwd2").val();
        if (pwd1 != "") {
            if (pwd1 == pwd2) {
                return true;
            }
            else {

                $.alert("两次输入密码不一致，请重新输入！");
                return false;
            }
        }
        else {

            $.alert("密码为空，请输入密码！");
            return false;
        }
        return true;
    }

    function RegistrationValidate() {
        if (vailPhone() && check()) {
            var phoneNumber = $("#phone").val();
            var password = $("#pwd1").val();
            var verificationCode = $("#verificatonCode").val();
            var jsondata = {"phoneNumber": phoneNumber, "password": password, "verificationCode": verificationCode};
            $.ajax({
                type: "POST",
                url: "/alllink/seller/add",
                processData: false,
                contentType: "application/json;charset=utf-8", //这个是发送信息至服务器时内容编码类型
                dataType: "json",
                data: JSON.stringify(jsondata),//这里必须将对象转成string类型，否则将掉入无线的大坑中。
                success: function (result) {
                    if (result.code == 1) {
                        window.location.href = "/alllink/views/wechat/w-login.html";
                    } else {

                        $.alert(result.msg);
                    }
                }
            });
            return true;
        } else {
            return false;
        }
    }

    //发送短信
    $("#btn").click(function () {
        var phoneNumber = $("#phone").val();
        var jsondata = {"phoneNumber": phoneNumber};
        $.ajax({
            type: "POST",
            url: "/alllink/seller/sendMessage",
            processData: false,
            contentType: "application/json;charset=utf-8", //这个是发送信息至服务器时内容编码类型
            dataType: "json",
            data: JSON.stringify(jsondata),//这里必须将对象转成string类型，否则将掉入无线的大坑中。
            success: function (success) {
                if (success.code == 1) {
                    // alert("发送验证码成功");
                    var countdown = 60;

                    function sendemail() {
                        var obj = $("#btn");
                        settime(obj);
                    }

                    sendemail();

                    function settime(obj) { //发送验证码倒计时
                        if (countdown == 0) {
                            obj.attr('disabled', false);
                            //obj.removeattr("disabled");
                            obj.val("获取验证码");
                            countdown = 60;
                            return;
                        } else {
                            obj.attr('disabled', true);
                            obj.val("倒计时(" + countdown + ")");
                            // $.alert("重新发送(" + countdown + ")");
                            countdown--;
                        }
                        setTimeout(function () {
                                settime(obj)
                            }
                            , 1000)
                    }
                } else {
                    alert(success.msg);
                }
            }
        });
    });


</script>
</body>
</html>
